@tailwind base;
@tailwind components;
@tailwind utilities;

/* override default css */
body {
  @apply m-0;
}

.home__title {
  @apply text-lg pt-4 text-center;
}

.home__subtitle {
  @apply text-sm pb-4;
}


/* search box css */
.search {
  @apply w-full bg-middle-grey p-2;
}

.search__box {
  @apply bg-absolute-white w-full h-10 rounded p-2;
}
.search__results-container {
  @apply absolute w-full left-0 z-50;
}

.search__list {
  @apply text-sm;
}

.search__list-item {
  @apply py-1;
}

.search__results {
  @apply bg-primary-red text-absolute-white mx-2 p-2 rounded;
}

.search__loader {
  @apply m-auto w-full py-8;
}

.search__buttons {
  @apply grid grid-cols-2 gap-2 pt-4;
}
.search__buttons--three {
  @apply grid grid-cols-3 gap-2;
}

.search__button {
  @apply rounded p-1 flex items-center place-content-center;
}

.search__button--white {
  @apply bg-absolute-white text-absolute-black;
}

.search__button--grey {
  @apply bg-middle-grey text-absolute-black;
}
.search__button--small {
  @apply text-xs ;
}

/* results page css */

.results__title {
  @apply text-2xl;
}
.results__subtitle {
  @apply text-sm;
}
.results__link {
  @apply underline;
}
.results__filter {
  @apply grid  py-2;
  grid-template-columns: 1fr 2fr;
}

/* results page video tile */
.tile {
  @apply grid grid-cols-2 py-2 gap-2 text-sm;
}
.tile__subtitle {
  @apply text-xs text-gray-500 absolute bottom-0;
}

/* watch page video */
.video {
  @apply mb-4;
}
.video__info {
  @apply px-2 pb-4;
}
.video__title {
  @apply text-lg font-bold;
}
.video__subtitle {
  @apply text-gray-800;
}

/* accordian overrides */
.accordion__heading {
  @apply font-semibold bg-middle-grey px-4 py-2 mt-1;
}
.accordion__content {
  @apply p-4 bg-middle-grey;
}
/* down arrow overlay (V) */
.accordion__button:after {
  @apply float-right inline-block mr-4 border-b-2 border-absolute-black border-r-2 rotate-45 h-3 w-3;
  content: "";
}

/* carousel overrides */
.carousel {
  @apply pb-4;
}
.carousel__video-container {
  height: 200px;
  width: 400px;
}
.carousel__title {
  @apply px-4 font-semibold text-center;
}
.carousel__video {
  @apply h-full w-full;
}

.overlay {
  @apply iphone:z-50 iphone:bg-gray-800 fixed w-full h-full hidden iphone:block text-lg text-absolute-white pt-16 text-center;
}
